@font-face {
  font-family: "iconfont"; /* Project id 3209208 */
  src: url('//at.alicdn.com/t/c/font_3209208_yjxaybw1sti.woff2?t=1661133502332') format('woff2'),
       url('//at.alicdn.com/t/c/font_3209208_yjxaybw1sti.woff?t=1661133502332') format('woff'),
       url('//at.alicdn.com/t/c/font_3209208_yjxaybw1sti.ttf?t=1661133502332') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-selected:before {
  content: "\e6dc";
}

.icon-qingchu1:before {
  content: "\e689";
}

.icon-dizhi:before {
  content: "\e688";
}

.icon-renyuan:before {
  content: "\e684";
}

.icon-xiaoxileixing:before {
  content: "\e685";
}

.icon-shijian:before {
  content: "\e686";
}

.icon-dingwei:before {
  content: "\e687";
}

.icon-zhengtijieguo:before {
  content: "\e67d";
}

.icon-qingchu:before {
  content: "\e667";
}

.icon-xiuxi:before {
  content: "\e67b";
}

.icon-31shijian:before {
  content: "\e600";
}

.icon-arrow-top:before {
  content: "\e606";
}

.icon-arrow-back:before {
  content: "\e789";
}

.icon-arrow-right:before {
  content: "\e78a";
}

.icon-arrow-bottom:before {
  content: "\e78b";
}

.icon-duoxuan_xuanzhong:before {
  content: "\e683";
}

.icon-dabiao:before {
  content: "\e694";
}

.icon-jintian:before {
  content: "\e695";
}

.icon-tishi:before {
  content: "\e696";
}

.icon-budabiao:before {
  content: "\e697";
}

.icon-shaixuan:before {
  content: "\e698";
}

.icon-rili:before {
  content: "\e699";
}

.icon-bianji:before {
  content: "\e69a";
}

.icon-wancheng:before {
  content: "\e69b";
}

.icon-erweima:before {
  content: "\e69c";
}

.icon-weiwancheng:before {
  content: "\e69d";
}

.icon-duoxuan:before {
  content: "\e6a0";
}

.icon-shuaxin:before {
  content: "\e6a1";
}

.icon-xiaoxi:before {
  content: "\e6a3";
}

.icon-gouwuche:before {
  content: "\e6a4";
}

.icon-wenhao:before {
  content: "\e6a6";
}

.icon-shoucang_xuanzhong:before {
  content: "\e6a7";
}

.icon-xiangji:before {
  content: "\e6a8";
}

.icon-sousuo:before {
  content: "\e6aa";
}

.icon-hege:before {
  content: "\e6ac";
}

.icon-buhege:before {
  content: "\e6ad";
}

.icon-shoucang:before {
  content: "\e6ae";
}

.icon-biyan:before {
  content: "\e692";
}

.icon-yanjing:before {
  content: "\e693";
}

.icon-fujian:before {
  content: "\e66e";
}

.icon-beizhu:before {
  content: "\e66f";
}

.icon-zhanghu1:before {
  content: "\e670";
}

.icon-pandianmingxi:before {
  content: "\e671";
}

.icon-tiaozhengmingxi:before {
  content: "\e672";
}

.icon-shenqingxinxi:before {
  content: "\e673";
}

.icon-jihuamingxi:before {
  content: "\e674";
}

.icon-chenliexinxi:before {
  content: "\e675";
}

.icon-xinxi:before {
  content: "\e676";
}

.icon-zhihangshuoming:before {
  content: "\e677";
}

.icon-qiye:before {
  content: "\e66b";
}

.icon-zhanghu:before {
  content: "\e66c";
}

.icon-mima:before {
  content: "\e66d";
}
