@import '~@/asset/style/common.styl'

.xt-custom
  padding 0 !important
.xt-field
  height: 40px;
  padding-right: 8px
  .van-cell
    height 40px
    align-items: center
.icon_search-wrap
  padding-right: dis-s
.van-search__content
  padding-left: dis-s !important
  border-radius radius-m !important
.van-field__clear-root
  font-size: 22px !important

.van-field
  align-items: center
