
@import '~@/style/common.styl'
.footer-wrap
  position fixed
  bottom 0
  background #fff
  z-index 9
  display flex
  width 100%
  padding dis-m 0
  z-index 2
  box-shadow 0px -3px 6px 1px rgba(0, 48, 130, 0.05)
  &>view 
    flex 1
    &.left
      padding 0 6px 0 12px
    &.right
      padding 0 12px 0 6px
